<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hsf="http://www.taobao.com/hsf" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.taobao.com/hsf
       http://www.taobao.com/hsf/hsf.xsd"
	default-autowire="byName">

    <!-- 核心企业信息 -->
	<hsf:consumer id="coreCorpService" interface="com.ynet.scm.api.gateway.yulebao.CoreCorpService"
		version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:consumer>
	
	<!-- 二类户 -->
	<hsf:consumer id="scmAccountInfoService" interface="com.ynet.scm.api.gateway.yulebao.ScmAccountInfoService"
		version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:consumer>

	<!-- 贷款申请和合同盖章存证接口 -->
	<hsf:consumer id="scmApplyAndContractService" interface="com.ynet.scm.api.gateway.yulebao.ScmApplyAndContractService"
		version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:consumer>
	<!-- 文件上传和贷款发放 -->
	<hsf:consumer id="scmLoanAndUploadService" interface="com.ynet.scm.api.gateway.yulebao.ScmLoanAndUploadService"
		version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:consumer>
</beans>
