<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hsf="http://www.taobao.com/hsf" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.taobao.com/hsf
       http://www.taobao.com/hsf/hsf.xsd"
	default-autowire="byName">
	<!-- 
	<hsf:provider id="exampleEDASServerProvider" interface="com.ynet.finmall.workflow.server.ExampleEDASServer"
				 ref="exampleEDASServer" version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:provider>
	 -->
	
	<!-- 审批流接口 -->
	<hsf:provider id="workflowServerProvider" interface="com.ynet.finmall.workflow.server.WorkflowServer"
				 ref="workflowServer" version="1.0.0" group="${sys.group}" clientTimeout="50000">
	</hsf:provider>
	
</beans>
